@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 100px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

main {
  height: 70%;
}

header {
  background-color: black;
  width: 100vw;
  height: 13%;
  border-bottom: 10px;
}

footer {
  height: 17%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.join-container {
  width: 100%;
  height: 100%;
}
.join-container .join-main {
  height: 70%;
  background: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.join-container .join-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  height: 100%;
  font: 1.5rem;
}
.join-container .join-main .jointext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  height: 100%;
  font-size: 2.5rem;
  text-align: start;
}

.chat-container {
  width: 100%;
  height: 100%;
}
.chat-container .chat-header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.chat-container .chat-header #leave-btn {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: blue;
}
.chat-container .chat-main {
  height: 70%;
  background: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.chat-container .chat-main .chat-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.chat-container .chat-main .chat-sidebar h2 {
  width: 100%;
}
.chat-container .chat-main .chat-sidebar h3 {
  width: 100%;
}
.chat-container .chat-main .chat-sidebar .users {
  width: 100%;
}
.chat-container .chat-main .chat-message-container {
  width: 75%;
  background-color: aqua;
}
.chat-container .chat-main .chat-message-container .message {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-width: 70%;
}
.chat-container form#chat-form {
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}
.chat-container form#chat-form .input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 10px;
  padding: 5px;
  width: 70%;
}
.chat-container form#chat-form .input-container input#msg {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
}
.chat-container form#chat-form .input-container button.btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
