.chat-container {
  width: 100%;
  height: 100%;
  .chat-header{
    width: 100%;
    color:white;
    @include flexbox($justifyContent:space-around, $alignItems:center);
    h1{
      font-size: 2rem;
    }
    .hamburger{
      display: none;

      @include md{
        background-color: transparent;
        @include flexbox ($direction:column, $alignItems:center,$justifyContent:space-between);
        width: 10%;
        height: 40%;
      }
      .icon-bar{

        width: 100%;
        height: 20%;
        background-color: white;
        @include flexbox ($direction:column, $alignItems:center);
      }
    }
    .btnsChat{
      @include md{
        display: none;
      }
    
#leave-btn{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: blue;
    width: 33%;

}
}
  
    
  }
  .chat-main {
    height: 70%;
    background: gray;
    @include flexbox;

    .chat-sidebar {
      width: 25%;
      @include flexbox($alignItems: center, $direction: column);
      @include md {
        display: none;
      }
      .roomName{
        background-color: #f2f2f2;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 70%;

    }
    .userNames{
      background-color: #f2f2f2;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 70%;

    }
    h2, h3, #users{
      text-align: center;
    }
   
   

    }

   .chat-message-container{
    width: 75%;
    background-color: lightgrey;
    @include md {
      width: 100%;
    }

    .message{
        background-color: #f2f2f2;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        max-width: 70%;
        
        
    }
   }
  }
  form#chat-form {
    margin-left: 25% ;
    @include flexbox($justifyContent:flex-start,$alignItems:center);

    .input-container {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 30px;
      margin: 0 10px;
      padding: 5px;
      

      input#msg {
        flex: 1;
        border: none;
        padding: 5px;
        font-size: 16px;
        background-color: transparent;
      }

      button.btn {
        padding-left:4%;
        border: none;
       border-radius: 50px;
        font-size: 16px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
